<!-- <h1>HELLO THERE.  <%=  @usernames %></h1>
<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div id="wrapper">

    <a href="/users"><div class="header"><p>Welcome to Ada Far-Mar<br>
        <a href = "/vendors" > Vendors.</a>
        <a href = "/markets" > Markets.</a>
        <a href = "/products"> Products.</a>
        </p></div></a>

  <! <%= yield %> -->
<!-- </div>
</body>

</html> -->

<body>
<div class = "view-new">
<h1 id = "welcome-back" class= "page-title"><%= @usernames %></h1>

<h1 class = "day"><%= Date.today.strftime('%a'+ 'day') %></h1>
<h1 class = "time"><%= Time.now.strftime("{ %H:%M }") %></h1>
<h1 class = "date"><%= Date.today.strftime('%b %d, %Y') %></h1>
</div>
</body>
